* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
}

.horizontal-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.horizontal-container {
  display: flex;
  width: max-content;
  height: 100%;
}

.scene {
  flex: 0 0 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scene-1{
  flex: 0 0 auto;
  width: auto;
  height: 100vh;

  aspect-ratio: 4096 / 1280;

  position: relative;
  overflow: hidden;

  justify-content: flex-start;
  align-items: flex-start;
}

.scene01-artwork {
  position: relative;
  width: 100%;
  height: 100%;
}

.scene02-artwork {
  position: relative;
  width: 100%;
  height: 100%;
}

.scene01-sky,
.scene01-landscape,
.scene01-cloud,
.scene02-background {
  position: absolute;
  inset: 0;

  display: block;
  width: 100%;
  height: 100%;
}

.scene-2 {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
  overflow: hidden;

  justify-content: flex-start;
  align-items: flex-start;
}

.bird-path {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
  pointer-events: none;
}